* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;

}
body{ 
  overflow-x: hidden;
  align-items: center;
  

}
.App {
  color:var(--button-text);
  overflow-x: hidden !important;
  
  }
.horizontal-line {
  background-color:black !important;
}
.app-header {
  align-items: center !important;
  display: block !important;
  margin: 0 auto !important;
}
