@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Montserrat:wght@400;600;700&display=swap");
 @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
 

@tailwind base;
@tailwind components;
@tailwind utilities;
 /*styling th navbar */

 .social-icons {
  display: block;
  justify-content: space-between !important;
  align-items: center !important;
  padding-right: 4rem !important;
}

.social-icon-text {
  padding-right: 49.4rem;
  font-weight:bold;
  font-size:20px;
  display: none !important;
}
/* Responsive for large screen*/
@media (min-width: 764px) {
  .more-info {
      display: none;
  }

} 
/* styling the technical skills page */
.tech-skill{
  font-family:"Roboto", sans-serif;
  text-align: center !important;
  align-items: center;
}
/* For small screens, display columns as a single column */
@media (max-width: 667px) {
  .columns-2 {
    grid-template-columns: 1fr;
    line-height: normal;
  }
  .name-tag{
    color: #2693FF !important;
    font-family: "Roboto", sans-serif !important;    
  }

  .first-column {
    order: 1; /* Display the first column first */
    margin-left: 15px;
    margin-right: 10px;
  }
  .second-column {
    order: 2; /* Display the second column second */
    margin-left: 15px;
    margin-right: 10px;
  }
  /*Home head shot image */
  .Head-shot {
    align-items: center;
    margin: 4.5rem 0rem 5rem 4.5rem !important;
    padding-top: 2rem !important;
    height: fit-content;
  }
  .javascript-logo img{
    padding-right: 5px;
    align-items: center;
  }
  .javascript {
    font-size: 13px;
  }
  .JS{
    width: fit-content !important; 
    align-items: center;
  }
  .home-component {
    margin-top : 25px;
  }
.home-component {
  margin-top : 75px;
}
.social-icons {
  text-align: center;
} 
.javascript {
  font-size: 13px;
}
.errormessage {
  color: red;
  font-size: small;
  text-align: right;
}

}
.border-skills {
  align-items: center;
  margin: 4px;
  background-color: transparent;
}
/* styling the contact form*/

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  align-items: center !important;
}

.contact-form {
  width: 950px !important; 
}

.form-group {
  margin-bottom: 10px;
  margin-top: 10px;
}

label {
  margin-bottom: 5px;
  color:black !important;
  font-weight:bold;
  align-items: left !important;
  padding-bottom: 3px;
  font-family: "Roboto", sans-serif;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid black;
  border-radius: 14px;
  box-sizing: border-box;
}

.button-contact {
  background-color: black !important;
  color: white !important;
  padding: 10px 20px;
  border-radius: 20px !important;
  cursor: pointer;  
}

.button-contact:hover {
  background-color: white !important;
  color: black !important;
  border: 1pt solid black;
}
.error {
  color:red !important;
  font-size:12px;
  text-align:left;
  font-style: italic;
}

/*styling the contact section */
.heading-text {
  font-size:30px;
  font-weight:bold;
  font-family: "Roboto", sans-serif;
  overflow-y: hidden !important;

}
#message {
  height: 120px;
}
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  width: 100%;
}
.contact-form {
  width: 5rem !important; 
  align-items: center;
  margin-left: 6px;
  align-items: center;
}
.form-group {
  margin-bottom: 7px;
}
label {
  margin-bottom: 13px;
  margin-right: 55px;
  color:white !important;
  font-weight:bold;
  align-items: left !important;
  padding-bottom: 13px;
}
input[type="text"],
input[type="email"],
input[type="text"]
    {
  width: 100%;
  padding: 8px;
  border: 1px solid black;
  border-radius: 14px;
  box-sizing: border-box;
  padding-right: 20px;
    }



@media (max-width: 764px) {
  .more-info {
      display: none;
  }
  .form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 80%;
  }
  .contact-form {
    width: 400px !important; 
    align-items: center;
    margin-left: 6px;
    align-items: center;
  }
  .form-group {
    margin-bottom: 7px;
   
  }
  label {
    margin-bottom: 13px;
    margin-right: 55px;
    color:white !important;
    font-weight:bold;
    align-items: left !important;
    padding-bottom: 13px;
  }
  input[type="text"],
  input[type="email"],
  input[type="text"]
      {
    width: 100%;
    padding: 8px;
    border: 1px solid black;
    border-radius: 14px;
    box-sizing: border-box;
    padding-right: 20px;
  }
  .button-contact {
    background-color: black !important;
    color: white !important;
    padding: 10px 20px;
    border-radius: 20px !important;
    cursor: pointer;  
  }
  .heading-text {
    font-size:40px !important;
    text-align: center !important;
    font-weight:bold;
    padding-right: 5rem !important;
    padding-bottom: 0.4rem;
    font-family: "Roboto",sans-serif !important;
  }
  .hook-up-line{
    font-size:24px  !important;
    text-align: center !important;
    padding-right: 5.5rem !important;
    padding-bottom: 1rem;
    font-family: "Roboto",sans-serif !important;
  }
  .btn-secondary{
    margin-right: 8.5rem !important;
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
    font-size: "Roboto",sans-serif !important;
  }

  .message {
    background-color: white !important;
    color: black !important;
  }
  .social-icons {
    display: block;
    justify-content: space-between !important;
    align-items: center !important;
    padding-right: 7rem !important;
    font-size: 40px !important;
  }
  .hook-up-para {
    margin-top:5rem;
    width: 80%;
    height:60% !important;
    height: 63em !important;
    background-color: #2693FF!important;
  }
} 
  /*styling the technical skills card sections*/
  .card {
    background-color: black !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 6px;
    border-radius: 8px; 
    color:#2693FF !important;
  }
  
  .card img {
    max-width: 80%;
    max-height:auto;
    color:white !important;
  }
  .card-title {
    margin-top: 20px;
    color:white !important;
  }
  .card:hover {
    background-color:  #2693FF  !important; 
    color: #2693FF !important;
    border: 1pt solid #2693FF !important;
  }
  .card-titl {
    color:white !important;
  }
  /*styling the contact section */
  .heading-text {
    font-size: 45px;
    line-height: 45px;
    font-weight: bold;
    color: white !important;
    font-family: helvetica;
    padding-top: 0 !important;
  }
  .hook-up-line {
    font-size:25px;
    font-family: roboto, sans-serif;
    color: black;
  }
  .hook-up-para {
    width: 75%;
    height:80%;
    background-color: #2693FF !important;
  }
  .bg-dark {
    background-color: #2693FF !important;
  }
  .btn-secondary {
    font-size: 20px;
    margin: 40px;
    padding: 20px !important;
    padding-right: 20px !important;
    padding-left: 20px !important;
    color: black !important;
    border: 1pt solid black !important;
    margin-bottom: 0 !important;
    border-radius: 20px !important;
    background-color: white !important;
  }

  .btn-secondary:hover {
    background-color: white !important;
    color: #2693ff !important;
    transition: 1 sec ease-in;
    border: 1pt solid white !important;
  }
  .name-tag {
    color: #2693FF !important;
    font-family: sans-serif;
    word-spacing: 8px;
    font-family: verdana;
  }
  
  