@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: white;
  background-color: white;

  --button-color:#ff6f3c;
  --heading-color:#ff347f;
  --normal-text:#f48db4;
  --button-text:#ffff;
  --box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
 
}
html {
  scroll-behavior: smooth;

}
body {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  overflow:scroll !important;
  overflow-x: scroll !important;
  background-color:white;
  color: black;
}
.ipsType_center {
  text-align: center;
}
/*styling the navbar*/
.bg-white {
  color: white !important;
}
.page {
  color: var(--button-color) !important;
}

.nav-item , .navbar-brand {
  margin: 0 45px 0px 20px !important;
  align-items: center !important;
}
.nav-item:hover {
  text-decoration: underline 2pt solid var(--button-color) ;
  font-size: bold;
}
.navbar-brand {
  font-size: 2rem;
  font-family: 'Roboto', sans-serif;

}
.active {
  color: var(--button-color) !important;
  font-weight: bold;
}
.dot {
  height: 85px;
  width: 85px;
  background-color: var(--button-text);
  border-radius: 50%;
 display: inline-flex; 
}
/*styling main */
.mr-auto {
  margin-right: 35px !important;
  padding: 15px;
}
.img-fluid {
  height: 450px;
  width: 100%;
  text-align: left;
}
h1,
h3,
h2{
  text-align:center;
  margin-left:10px;
}
h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
}
h1,h2 {
  font-family: 'Pathway Extreme', sans-serif;
}
.my-name {
  color: var(--button-color);
}
.img-fluid {
  display: block;
  padding-left: 45px;
  width:800px;
}
.mb-4 {
  margin-top: 0px !important;
  margin-bottom: 25px !important;
}
.btn-primary {
  background-color: var(--button-color) !important;
  color: var(--button-text);
  border: none;
  box-shadow: var(--box-shadow);
}
.btn-primary:hover {
  background-color: var(--button-color) !important;
  color: var(--button-color) !important;
  border: 1pt solid var(--button-color) !important;
}
.fa-sharp:hover{
color: var(--button-color) !important;
}
.btn-secondary {
  background-color: var(--button-text) !important;
  color: var(--button-color) !important;
  border: 1pt solid var(--button-color) !important;
  margin-left: 5px;
  box-shadow: var(--box-shadow);
}
.btn-secondary:hover {
  background-color: var(--button-color) !important;
  color: var(--button-text) !important;
  border: none;
}


.brands-one {
  justify-content: space-between;
  margin: 0 45px 0 35px;
}
.fa-brands:hover {
  box-shadow: var(--box-shadow);
  cursor: pointer;
}

a {
  list-style-type: none;
  color: white;
  text-decoration: none;
}
/*styling about section*/
.about-one,.about-two {
  font-size:22px;
  text-align: center;
  margin:30PX;
  font-family: Roboto;
  line-height: 30px;
}
.about {
  margin-top: 30px;
}
.head-shot img{
  max-width: 42px;
  max-height: 47px;
  margin: 0 auto;
  display: block;
}
.head-shot{
  max-width: 400px;
  max-height: 300px;
  margin: 0 auto;
  display: block;
  align-items: right;
}

@media only screen and (max-width: 768px) {
  .head-shot img{
      max-width: 50px;
      max-height: 60px;
      margin: 0 auto;
      display: block;
  }
   .head-shot{
      max-width: 350px;
      max-height: 360px;
      margin: 0 auto;
      display: block;
      align-items: center;
  }
}
/* styling the skills section*/

.card {
  margin:8px;
  text-align: center;
  padding: 8px;
  width: 200vw;
  height: auto;
  transition: all 0.8s ease-out;
  
}
.card-img-top img {
  margin: 0 auto !important;
  display: block !important;
  border-radius: 50% !important;
  width: 200vw;
  align-items: center;
}
.card:hover {
  cursor: pointer;
}

.scrolling-wrapper {
  position: relative;
  width: 100vw;
  background-color: transparent;
  overflow: hidden;
  z-index: 1;
  margin: 0;
  padding: 0;
}
.skills {
  overflow-y: hidden;
  height:auto;
  white-space: nowrap;
  animation:scrollText 30s infinite linear;
  margin: 5px;
  font-size: 0;
  display: flex;
  justify-content: space-between;
  width: 100% fit-content;

}
@keyframes scrollText {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}

/*for mobile view */
@media only screen and (max-width: 768px) { /* Adjust the breakpoint as needed */
 
    .skills {
      max-width: auto !important;
      margin: 0 auto !important;
      width: 200vw;
      align-items: center;
    }
    .skills-card {
      width: 100% !important;
         
      margin: 0 1rem 1rem 0rem !important;
      width: 200vw;
    }
   
}
.skills-section {
  background-color: #0000 !important;
}
/*styling project section */

.card-title{
  color: var(--button-text);
}
.fa-brands{
  padding: 7px;
}

/* styling contact section footer*/
.contact-us {
  margin-top: 60px;
}      
/*stylnng the contact form*/
.form-contact {
  color: var(--button-color) !important;
}
.label {
  color: var(--button-text) !important;
  font-family: 'Roboto', sans-serif;
}
.form-control-color:active {
  color: var(--button-color) !important;

}
.form-btn {
  margin: 0 auto;
  display: block;
}

/*styling more information */
.more-info {
  margin-left: 62px;
}
.contact-info {
  color:var(--button-color);
  font-weight: bold;
  text-align: center;
  font-size: 30px;
}
.copyright {
  text-align: center;
}
.opening, .closing {
  color: var(--button-color);
  font-size: 30px;
  font-weight: bold;
  margin-top: -15px;
}
/* Responsive for mobile deviices */
@media (max-width: 400px) {
  .container-fluid  {
      display: block;
      margin-top: 55px;
  }
  .fa-brands {
      margin-top: 0;
      justify-content: center;
      padding: 0 55x 0 65px;
      cursor:pointer;

   }
  .social-links {
      display: none;
  }
  .offset-sm-1 {
      margin-top: 8px;
  }
  .first-head {
      margin: 0;
      margin-top: 45px;
  }
  .illustration {
      width:100%;
      height: 100%;
      display: block;
      margin: 0 auto;
      margin-top: 50px;
  }
  .contact-info {
      margin-left: 0;
      text-align: center;
      margin: 0 auto;

  }
  .more-info {
      margin-top: 10px;
      margin-left: 0;
      text-align: center;
  }
  .fa-brands {
      justify-content: space-between;
      margin: 0 15px 0 15px;
   }
   .Technologies{
      margin: auto;
   }
 
  }
/* Responsive for large screen*/
@media (min-width: 600px) {
  .more-info {
      display: none;
  }
} 





