@tailwind base;
@tailwind components;
@tailwind utilities;
 /*styling th navbar */

/* Responsive for large screen*/
@media (min-width: 600px) {
  .more-info {
      display: none;
  }
} 
/* styling the technical skills page */
.tech-skill{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center !important;
  align-items: center;
}
/* For small screens, display columns as a single column */
@media (max-width: 667px) {
  .columns-2 {
    grid-template-columns: 1fr;
    line-height: normal;
  }
  .name-tag{
    color: #2693FF !important;
    
  }

  .first-column {
    order: 1; /* Display the first column first */
    margin-left: 15px;
    margin-right: 10px;
  }

  .second-column {
    order: 2; /* Display the second column second */
    margin-left: 15px;
    margin-right: 10px;
  }
  /*Home head shot image */
  .Head-shot {
    align-items: center;
    margin: 2.5rem 0rem 5rem 4.5rem;
    height: fit-content;
  }
  .javascript-logo img{
    padding-right: 5px;
    align-items: center;
  }
  .javascript {
    font-size: 13px;
  }
  .JS{
    width: fit-content !important; 
    align-items: center;
  }
  .home-component {
    margin-top : 25px;
  }
.home-component {
  margin-top : 75px;
}
.social-icons {
  text-align: center;
} 

.javascript {
  font-size: 13px;
}
.errormessage {
  color: red;
  font-size: small;
  text-align: right;
}

}
.border-skills {
  align-items: center;
  margin: 4px;
  background-color: transparent;
}
*/styling the contact form*/

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.contact-form {
  width: 400px; 
}

.form-group {
  margin-bottom: 10px;
  margin-top: 10px;
}

label {
  margin-bottom: 5px;
  color:black !important;
  font-weight:bold;
  align-items: left !important;
  padding-bottom: 3px;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid black;
  border-radius: 14px;
  box-sizing: border-box;
}

.button-contact {
  background-color: black !important;
  color: white !important;
  padding: 10px 20px;
  border-radius: 20px !important;
  cursor: pointer;  
}

.button-contact:hover {
  background-color: white !important;
  color: black !important;
  border: 1pt solid black;
}
.error {
  color:red;
  font-size:12px;
  text-align:left;
  font-style: italic;
}

/*styling the contact section */
.heading-text {
  font-size:30px;
  font-weight:bold;

}
