.btn-primary {
  padding: 8px 18px 5px 18px !important;
  background-color: white !important;
  color: #2693FF !important;
  border-radius:11px !important;
  margin-top: 3px !important;
  font-weight: bold !important;
  border: 1pt solid #2693FF !important;

}
.btn-primary:hover {
  background-color: #2693FF !important;
  color: white !important;
  transition: 1 sec ease-in !important;
}


