/* Add this CSS to your existing styles */
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Montserrat:wght@400;600;700&display=swap");

.header {
  background-color: #2693FF;
  color: #0000;
  position: fixed;
  width: 100%;
  z-index: 1000; 
  max-width: auto !important;
}
.container {
  display: flex !important;
}
.nav__logo {
  color: #fff !important;
  font-weight: bold;
  padding-left: 10px !important;
  text-decoration: none;
  font-family: "Dancing script", sans-serif !important;
  font-size: 2rem;
}
.nav__menu {
  display: block;
  width:  100% !important;
}
.nav__list {
  align-items: right !important;
  list-style: none !important;
  padding-right: 14rem !important;
  display: flex !important;
  justify-items: flex-end !important;
  color: #fff !important;
  font-family: "Montserrat", sans-serif !important;
}
.nav__item {
  padding-top: 5px !important;
  margin-right: 3rem !important;
  margin-top: 9px !important;
}
.nav__item:hover {
  text-decoration: underline;
  transition: 1 sec ease-in;
  color: white;
}
.nav__link {
  color: #fff !important;
  text-decoration: none;
}
.nav__toggle {
  display: none;
  cursor: pointer;
  color: #fff !important;
  font-size:2rem !important;
  padding-top:1rem !important
}
.show-menu {
  display: block !important;
}


/* responsive for mobile */

         
    @media screen and (max-width: 657px) {
      .container {
            flex-direction: column !important;
            align-items:flex-start !important;
          }
            .nav__menu {
                display: flex;
                margin-top: 1rem;
                color: #2693FF !important;
      
            }
            
            .nav__list {
                display: flex;
                padding-right: 5rem !important ;
                margin: 0.5rem !important;  
                flex-direction: column !important;
                color: #2693FF !important;
            }
            .nav__item {
              display: flex !important;
              flex-direction: column !important;
              justify-items: flex-end !important;
              padding-top: 2rem;
              padding-bottom: 2rem !important;
              color: #2693FF !important;
              
            }
              .nav__menu {
                  display: none;
                  margin-top: 1rem;
              }
              .nav__toggle {
                  display: block;
                  position: absolute;
                  right: 0;
              }
              .nav__list {
                  display: flex; 
                  margin-bottom: 0.5rem;
                  color: white !important;
                  font-size:25px !important;
          
              }
              .nav__item {
                  flex-direction: column !important;
                  justify-items: center !important;
                  margin-left: 40px;
                  color: White !;
                  margin-right: 15px; /* Adjust spacing as needed */
                  padding-top: 10px;
              }
              .nav__item:hover{
                color: black !important;
                transition-behavior:  smooth;
                transition-timing-function: 2sec ;
                transition-delay: 4sec;
                transition: ease-in-out;
              }
              .nav__toggle,.nav__close {
                font-size: 1.5rem;
                cursor: pointer;
                position:left;
                color: #fff !important;
              }
              .nav__menu {
                position: fixed;
                top: 0;
                right: 0;
                background-color: #2693FF;
                width: 80%;
                height: 100%;
                padding: 6rem 3rem 0;
                transition: right 0.4s;
              }
        }

  
  