.resume-btn {
  padding: 8px 18px 5px 18px !important;
  color: white !important;
  background-color: #2693FF !important;
  border-radius:11px !important;
  margin-top: 3px !important;
  font-weight: bold !important;
  border: 1pt solid #2693FF !important;
}
.resume-btn:hover {
  background-color:  white !important;
  color: #2693FF !important;
  transition: 1 sec ease-in !important;
}
.button__icon-resume {
  width: 5px  !important;
  height: 5px !important;
}